/* site content ------------------------------------------------------------ */

.jumbotron-face{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-top: 15%;
    position: relative;
    border-radius: 0;
}

.statement{
    font-size: 2.25em;
}

.site-content{
    padding-bottom: 3em;
}

.contact-content{
    font-size: 1.25em;
}

a.external{
    padding-right: 1em;
    background: url('external.png') right center no-repeat;
}

.site-footer{
    color: #ccc;
    padding: 2em 0 1em;
}

/* mobile tweaks ----------------------------------------------------------- */

@media (max-width: 576px) {
    body{
        margin-bottom: 0
    }

    .site-footer{
        position: relative;
    }

    .jumbotron-face{
        padding-top: 40%;
    }
}

/* print tweaks ------------------------------------------------------------ */

@media print{
    .navbar {
        display: block;
        border-width:0 !important;
    }

    .navar a{
        color: #000;
    }

    .mb-3, .mb-4, .mb-5{
        margin-bottom: 1em !important;
    }

    .statement{
        font-size: 1.75em;
    }
}
