.jumbotron-face{
	background-image: url('me-06.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 46%;
	padding-top: 15%;
	position: relative;
	border-radius: 0;
}

.statement{
	font-size: 2.5em;
}


/* site content ---------------------------------------------------------------------------------------------------- */

.site-content{
	padding-bottom: 3em;
}

/* site footer elements -------------------------------------------------------------------------------------------- */

.site-footer{
	color: #ccc;
	min-height: 75px;
}

@media (max-width: 576px) {
	body{
		margin-bottom: 0
	}

	.site-footer{
		position: relative;
	}
}
