body{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pitch, .pitch .lead{
    font-size: 1.2em;
}

.intro-video {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 0;
    height: calc(100vw * 0.2);
    min-height: 200px;
}

.intro-video .btn-close {
    z-index: 3;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.5;
    display: none;
}

.intro-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: calc(100vw * 0.2);
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.intro-video .container{
    position: relative;
    z-index: 3;
}

.intro-video .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
    z-index: 1;
}

.video-link{
    font-weight: bold;
    letter-spacing: 2px;
}

.statement{
    font-size: 2em;
}

.site-content{
    padding-bottom: 3em;
}

.contact-content{
    font-size: 1.25em;
}

a.external{
    padding-right: 1em;
    background: url('external.png') right center no-repeat;
}

.site-footer{
    color: #ccc;
    padding: 2em 0 1em;
}

small{
    font-size: 0.667em;
}

@media (max-width: 576px) {
    body{
        margin-bottom: 0
    }
        
    .site-footer{
        position: relative;
    }
    
    .jumbotron-face{
        padding-top: 40%;
    }
}

@media print{
    .navbar {
        display: block;
        border-width:0 !important;
    }
    
    .navar a{
        color: #000;
    }
    
    .mb-3, .mb-4, .mb-5{
        margin-bottom: 1em !important;
    }
    
    .statement{
        font-size: 1.75em;
    }
}
